.introducao-bg {
  background: #000;
  color: #fff;
  box-shadow: inset 0 -120px #fff;
}

.introducao {
  display: grid;
  gap: 80px;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.introducao-img img {
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.introducao-conteudo h1 {
  font-size: 64px;
  line-height: 1.12;
  margin-bottom: 32px;
}

.introducao-conteudo p {
  font-size: 24px;
  line-height: 1.5;
  color: #b2b2b2;
  margin-bottom: 20px;
}

.introducao-conteudo span {
  color: #ffbb00;
}

.introducao-conteudo a {
  display: inline-block;
  font-size: 18px;
  line-height: 1.3;
  padding: 16px 32px;
  text-transform: uppercase;
  font-weight: bold;
  color: #332200;
  background: linear-gradient(#ffbf00, #f2a50c);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .introducao {
    gap: 40px;
  }

  .introducao-conteudo {
    padding-bottom: 160px;
  }

  .introducao-conteudo h1 {
    font-size: 48px;
  }

  .introducao-conteudo p {
    font-size: 20px;
  }

  .introducao-bg {
    box-shadow: inset 0 -80px #fff;
  }
}

@media (max-width: 800px) {
  .introducao-bg {
    background: #111;
    padding-top: 36px;
    box-shadow: inset 0 -60px #fff;
  }

  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao-conteudo {
    padding-bottom: 0px;
  }
  .introducao-conteudo h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }
  .introducao-conteudo p {
    font-size: 16px;
  }
  .introducao-img img {
    height: 300px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .introducao-conteudo h1 {
    font-size: 32px;
  }
  .introducao-conteudo a {
    padding: 12px 16px;
    font-size: 16px;
  }
}
