.bicicletas {
  padding-bottom: 120px;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.bicicletas-bg {
  background: linear-gradient(90deg, var(--cor-0) 20%, var(--cor-11) 20%);
  padding-top: 60px;
  padding-bottom: 60px;
}

.bicicletas-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: end;
}

.bicicletas-conteudo-itens {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  position: relative;
}

.bicicletas-conteudo-itens h2 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bicicletas-conteudo-itens h2::before {
  display: inline-block;
  content: "";
  background-color: var(--cor-p1);
  width: 12px;
  height: 8px;
}

.bicicletas-conteudo-itens h2,
.bicicletas-conteudo-itens p {
  grid-column: 1/-1;
}

.bicicletas-conteudo-itens a {
  grid-column: 2;
  align-self: end;
}

.bicicletas-conteudo-itens ul {
  display: grid;
  gap: 10px;
}

.bicicletas-conteudo-itens li {
  display: flex;
  gap: 16px;
  align-items: center;
}

.bicicletas-conteudo-img {
  position: relative;
}

.bicicletas-conteudo-img img {
  object-fit: cover;
  min-height: 360px;
  height: 100%;
  border-radius: 5px;
}

.bicicletas-conteudo-img span {
  position: absolute;
  background-color: var(--cor-12);
  padding: 10px 16px;
  border-radius: 4px 0 0 4px;
  top: 40px;
  right: 0;
}

@media (max-width: 1200px) {
  .bicicletas-conteudo {
    gap: 20px;
  }
  .bicicletas {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (max-width: 800px) {
    .bicicletas-conteudo {
      grid-template-columns: 1fr;
    }

    .bicicletas-conteudo-img img {
      max-width: 100%;
      min-height: 200px;
      border-radius: 5px;
    }

    .bicicletas-bg {
      background: var(--cor-11);
    }

    .bicicletas-conteudo-itens a {
      grid-column: 1;
      align-self: start;
    }
  }

  @media (max-width: 600px) {
    .bicicletas {
      padding-top: 40px;
      padding-bottom: 40px;
      gap: 40px;
    }

    .bicicletas-bg {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .bicicletas-conteudo-itens img {
      width: 24px;
    }
  }
}
