.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.titulo-bg {
  background-color: var(--cor-11);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 1200px) {
  .titulo-bg {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.botao {
  display: inline-block;
  padding: 16px 32px;
  color: var(--cor-p5);
  background: var(--cor-p1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font: 500 1.125rem/1.35 "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  max-width: fit-content;
}

.botao:hover {
  background: var(--cor-p2);
}

.botao.secundario {
  background: var(--cor-8);
  color: var(--cor-0);
}

.botao.secundario:hover {
  background: var(--cor-9);
}

.botao.seta::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 10px;
  background: url("../../img/icones/seta.svg");
  transition: 0.3s;
}

.botao.seta:hover:after {
  margin-left: 16px;
}

@media (max-width: 800px) {
  .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }
}
