.lojas {
  padding-top: 80px;
  padding-bottom: 80px;
}

.lojas h2 {
  margin-bottom: 32px;
}

.lojas-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.lojas-cidade {
  display: grid;
  box-shadow: 0px 1px 2px 0px #0000001a;
}

.lojas-informacoes {
  display: grid;
  gap: 32px;
  background: var(--cor-0);
  padding: 32px 60px;
  border-radius: 0px 0px 5px 5px;
}

.lojas-informacoes h3 {
  position: relative;
}

.lojas-informacoes h3::before {
  display: inline-block;
  content: "";
  height: 8px;
  width: 12px;
  background: var(--cor-p1);
  position: absolute;
  top: 16px;
  left: -24px;
}

.lojas-informacoes span {
  position: relative;
}

.lojas-informacoes span::before {
  display: inline-block;
  content: "";
  height: 20px;
  width: 20px;
  background-image: url("../../img/icones/horario.svg");
  position: absolute;
  left: -26px;
  top: 1px;
}

.lojas-informacoes-conteudo {
  display: flex;
  gap: 40px;
}

.lojas-informacoes-conteudo div {
  border-left: solid 2px var(--cor-2);
}

.lojas-informacoes-conteudo p {
  padding-left: 12px;
}

@media (max-width: 1200px) {
  .lojas {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .lojas-informacoes-conteudo {
    gap: 20px;
  }

  .lojas-informacoes h3::before {
    top: 10px;
    left: -24px;
  }

  .lojas-informacoes {
    padding-right: 20px;
  }
}

@media (max-width: 800px) {
  .lojas-conteudo {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .lojas-informacoes {
    padding: 40px;
  }
}

@media (max-width: 600px) {
  .lojas {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .lojas-informacoes {
    gap: 20px;
  }

  .lojas-informacoes span::before {
    top: -2px;
  }
}

@media (max-width: 400px) {
  .lojas-informacoes-conteudo {
    flex-direction: column;
  }
}
