.footer-bg {
  background: var(--cor-12);
}

.footer {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 40px;
}

.footer h3 {
  margin-bottom: 40px;
}

.footer li {
  margin-bottom: 12px;
}

.footer a:hover {
  color: var(--cor-0);
}
.footer-icons {
  display: flex;
  gap: 20px;
}

.footer-nav li:last-child {
  margin-bottom: 0px;
}

.footer-contato li:nth-child(even):after {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  content: "";
  background: var(--cor-11);
  width: 100%;
  max-width: 360px;
  height: 2px;
}

.footer-copy {
  grid-column: -1/1;
}

@media (max-width: 1200px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 800px) {
  .footer h3 {
    margin-bottom: 40px;
  }
  .footer-logo {
    display: none;
  }
  .footer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .footer-logo {
    display: none;
  }
  .footer {
    grid-template-columns: 1fr;
  }
  .footer h3 {
    margin-bottom: 20px;
  }
}
