.header-bg {
  background: var(--cor-12);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  padding-bottom: 36px;
  padding-top: 36px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.header-menu a {
  padding: 20px 0px;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: var(--cor-0);
  margin-top: 4px;
  position: absolute;
  transition: 0.3s;
}

.header-menu a:hover::after {
  width: 100%;
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
  }

  .header img {
    padding-bottom: 20px;
  }

  .header a:after {
    display: none;
  }

  .header-menu {
    gap: 12px;
    padding-bottom: 36px;
    justify-content: center;
  }

  .header-menu:last-child {
    padding-right: 0px;
  }

  .header-menu a {
    display: inline-block;
    background: var(--cor-11);
    padding: 12px 20px;
    border-radius: 4px;
    font-size: 0.75rem;
  }
}
