.introducao-bg {
  background: var(--cor-12);
  color: var(--cor-0);
  box-shadow: inset 0 -80px var(--cor-0);
}

.introducao {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 160px;
}

.introducao-img img {
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.introducao-conteudo h1 {
  margin-bottom: 32px;
}

.introducao-conteudo p {
  margin-bottom: 20px;
}

.introducao-conteudo a {
  display: block;
}

@media (max-width: 1200px) {
  .introducao-conteudo {
    padding-top: 0px;
  }

  .introducao-conteudo {
    padding-bottom: 120px;
    padding-top: 60px;
  }

  .introducao-bg {
    box-shadow: inset 0 -60px var(--cor-0);
  }
}

@media (max-width: 600px) {
  .introducao-bg {
    padding-top: 40px;
    background: var(--cor-11);
    box-shadow: inset 0 -40px var(--cor-0);
  }

  .introducao {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .introducao-conteudo {
    padding-top: 0;
    padding-bottom: 0;
  }

  .introducao-conteudo h1 {
    margin-bottom: 20px;
  }

  .introducao-img img {
    height: 300px;
    width: 100%;
  }
}
