.tecnologia-bg {
  background: var(--cor-11);
  box-shadow: inset 0 -80px var(--cor-0), inset 0 80px var(--cor-0);
}

.tecnologia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.tecnologia-conteudo {
  padding-top: 140px;
  padding-bottom: 140px;
}

.tecnologia-img img {
  object-fit: cover;
  object-position: left;
  height: 100%;
  border-radius: 5px;
}

.tecnologia-conteudo a {
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
}

.tecnologia-conteudo a::after {
  display: block;
  content: "";
  height: 4px;
  width: 100%;
  background: var(--cor-p1);
  position: absolute;
}

.tecnologia-introducao {
  margin-bottom: 84px;
}

.tecnologia-introducao > span {
  display: block;
  margin-bottom: 20px;
}

.tecnologia-introducao h2 {
  margin-bottom: 32px;
}

.tecnologia-introducao p {
  margin-bottom: 20px;
}

.tecnologia-vantagens {
  display: flex;
  gap: 40px;
}

.tecnologia-vantagens li {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}

@media (max-width: 1200px) {
  .tecnologia {
    gap: 36px;
  }

  .tecnologia-conteudo {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .tecnologia-bg {
    box-shadow: inset 0 -60px var(--cor-0), inset 0 60px var(--cor-0);
  }
}

@media (max-width: 800px) {
  .tecnologia {
    grid-template-columns: 1fr;
  }

  .tecnologia-bg {
    box-shadow: initial;
  }

  .tecnologia-img {
    display: none;
  }
  .tecnologia-conteudo {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .tecnologia-introducao h2 {
    margin-bottom: 20px;
  }
  .tecnologia-introducao {
    margin-bottom: 44px;
  }
}

@media (max-width: 600px) {
  .tecnologia-vantagens {
    flex-direction: column;
  }
  .tecnologia-vantagens img {
    width: 24px;
  }
}
