.seguros-bg {
  background: var(--cor-11);
}

.seguros {
  padding-top: 80px;
  padding-bottom: 80px;
}

#seguros .seguros {
  padding-top: 0px;
}

.seguros h2 {
  margin-bottom: 32px;
}

.seguros-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.seguros-lista {
  display: grid;
  grid-template-columns: 1fr auto;
  background: var(--cor-12);
  padding: 32px 60px;
  border-radius: 5px;
}

.seguros-lista h3 {
  margin-bottom: 32px;
}

.seguros-lista li {
  padding-bottom: 20px;
  position: relative;
  display: flex;
  align-items: center;
}

.seguros-lista li:last-child {
  padding-bottom: 32px;
}

.seguros-lista li::before {
  content: "";
  width: 12px;
  height: 8px;
  background-image: url("../../img/icones/lista.svg");
  position: absolute;
  left: -20px;
}

.seguros-lista span {
  display: block;
  text-align: right;
  grid-column: 2;
  justify-content: end;
}

.seguros-lista ul {
  grid-column: -1/1;
}

.seguros-lista a {
  grid-column: -1/1;
}

@media (max-width: 1200px) {
  .seguros {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (max-width: 800px) {
    .seguros-conteudo {
      grid-template-columns: 1fr;
    }

    .seguros-conteudo {
      gap: 20px;
    }
  }

  @media (max-width: 600px) {
    .seguros {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .seguros-lista {
      padding: 40px;
    }

    .seguros-lista li:last-child {
      padding-bottom: 20px;
    }

    .seguros-lista li {
      padding-bottom: 12px;
    }
  }
}
